doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.links 
      a(href="/home") Homepage
      a(href="/home/steroids") All steroids 
      a(href="/home/categories") All categories 
      a(href="") Create steroid 
      a(href="") Create category    
    block content
